<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Añadir audio
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="headerBtns" (click)="imgSiteInput.click()" color="primary">
          <ion-icon name="add-circle-outline" mode='md'></ion-icon>
      </ion-button>
  
      <ion-button class="headerBtns" color="danger" (click)="stdFiles = []">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <input
    style="display: none"
    type="file"
    accept=".pcm,.mp3,.acc,.vorbis,.opus,.flac"
    multiple
    (change)="handleFileInput($event.target.files)"
    #imgSiteInput>



  <div *ngIf="loaded_flag">
    <div class="audioItemGroup" *ngFor="let file of stdFiles; let i= index">
      <div class="header">
        <div class="title_and_info">
          <div class="audioTitle">
            {{file.name}}
          </div>
      
          <div class="audioInfo">
            <div>{{file.size / 1024 | number : '1.1-1'}}KB</div>
            <div>{{file.lastModified | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
            <!-- <span>{{file.type}}</span> -->
          </div>
        </div>
        
        <div class="buttons">
          <ion-button (click)="guardarAudio(i)">
              <ion-icon name="save" mode="md"></ion-icon>
          </ion-button>
    
          <ion-button (click)="sendAudioToPlayer(i)">
              <ion-icon name="play" mode="md"></ion-icon>
          </ion-button>
        </div>
      </div>
  
      <ion-item>
        <ion-label position="floating">
          Titulo
        </ion-label>
        <ion-input
          [(ngModel)]="audios[i].fileName"
          [placeholder]="file.name">

        </ion-input>
      </ion-item>
  
      <div class="folder">
        <ion-item>
          <ion-select #ionSelect_folder
            [(ngModel)]="audios[i].id"
            [placeholder]="databaseS.db_mod.folders.length === 0 ? 'No existen carpetas' : 'Elija una carpeta'"
            interface="popover"
            [disabled]="databaseS.db_mod.folders.length === 0"
            >
            <ion-select-option
              *ngFor="let folder of databaseS.db_mod.folders"
              [value]="folder.id">
              {{folder.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="showAlertAddFolder(i)">
          <img src="./assets/svg_icons/add-folder.svg">
        </ion-button>
      </div>

  
      <!-- <ion-item>
        <ion-label position="floating">
          Etiqueta
        </ion-label>
        <ion-input></ion-input>
        <ion-button>
          Añadir etiqueta
        </ion-button>
      </ion-item> -->
    </div>
  </div>


</ion-content>

<ion-footer>

  <app-audio-player #reproductor></app-audio-player>

</ion-footer>
