.headerBtns {
    font-size: 1.25rem;
}

ion-content {
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
}


.audioItemGroup {
    $radioBorde: 0.5rem;
    border: 1px solid gray;
    border-radius: $radioBorde;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    background-color: #faf3ff;

    .header {
        border-top-left-radius: $radioBorde;
        border-top-right-radius: $radioBorde;
        background: #a2ffaa;
        padding: 0.25rem 0.75rem;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        
        .title_and_info {
            width: calc(100vw - 5rem);
            align-self: center;
            
            .audioTitle {
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .audioInfo {
                font-size: 0.75rem;
                margin-top: 0.5rem;
                display: flex !important;
                color: gray;

                div:nth-child(2) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 1rem;
                }
            }
        }

        .buttons {
            display: inline-flex;
            flex-direction: column;
            ion-button {
                height: 1.75rem;
                --padding-start: 0.5rem;
                --padding-end: 0.5rem;
            }
        }
    }

    .folder {
        display: flex;
        align-items: center;

        ion-item {
            width: 100%;
            ion-select {
                min-width: 100%;
                padding-left: 0;
            }
        }

        ion-button {
            --padding-end: 0.5rem;
            --padding-start: 0.5rem;
            width: 3rem;
            height: 2.5rem;
            margin: 0.5rem;
            --color: white;
        }
    }

    ion-item {
        --background: transparent;
        --padding-start: 0.75rem;
        --padding-end: 0.75rem;
    }
}