<ion-list lines="none" class="player" [ngClass]="{'showAdvPlayer': showAdvancedPlayer, opacity: !this.audioFileName}">

  <div class="btnShowHideAdv" (click)="showAdvancedPlayer = !showAdvancedPlayer" [ngClass]="{'rotateBtn': showAdvancedPlayer}">
      <ion-icon name="arrow-up" mode="ios"></ion-icon>
  </div>

  <!-- REPRODUCTOR BÁSICO -->
  <ion-item class="basicPlayer">

    <div class="currentPlayTime">{{sliceRangeValues.lower | number: '1.1-1'}}</div>
    <div class="audioDuration">{{sliceRangeValues.upper | number: '1.1-1'}}</div>

    <ion-range
      class="seekRange"
      color="danger"
      pin="true"
      step="0.1"
      debounce="0"
      (touchstart)="rangeTouchStart()"
      (touchend)="rangeTouchEnd()"
      [min]="sliceRangeValues.lower"
      [max]="sliceRangeValues.upper"
      [(ngModel)]="rangePosition"
      [ngClass]="{'dpe': dpe}">
    </ion-range>
    
    <div class="playPause_container">
      <ion-button (click)="playPause()" slot="end" [ngClass]="{'dpe': dpe}" class="btnPlayPause">
        <ion-icon slot="icon-only" name="play" *ngIf="audioState === AE.paused || audioState === AE.stopped"></ion-icon>
        <ion-icon slot="icon-only" name="pause" *ngIf="audioState === AE.playing"></ion-icon>
      </ion-button>
      <div class="infoTiempo">
        {{rangePosition | number: '1.1-1'}}
      </div>
    </div>
  </ion-item>


  <!-- REPRODUCTOR AMPLIADO -->
  <ion-item class="advancedPlayer">
    <ion-range
      class="sliceRange"
      dualKnobs="true"
      pin="false"
      step="0.1"
      color="secondary"
      min="0"
      [max]="audioDuration"
      [(ngModel)]="sliceRangeValues"
      debounce="0"
      (touchstart)="sliceTouchStart()"
      (touchend)="sliceTouchEnd()"
      [ngClass]="{'dpe': dpe}">
    </ion-range>
  </ion-item>

  <ion-item class="advancedPlayer">
    <ion-button (click)="this.loopMode = !this.loopMode;" [ngClass]="{'btnActive': loopMode, 'dpe': dpe}">
      <ion-icon name="infinite"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon name="share"></ion-icon>
    </ion-button>

    <div class="speedText">
      {{ playSpeed | number: '1.2-2' }}x
    </div>

    <ion-range
      class="speedRange"
      dualKnobs="false"
      pin="false"
      step="0.05"
      color="tertiary"
      min="0.5"
      max="4"
      [(ngModel)]="playSpeed"
      debounce="0"
      (touchend)="changeSpeed()"
      [ngClass]="{'dpe': dpe}">
    </ion-range>

  </ion-item>
</ion-list>
