<ion-list lines="none">

  <!-- REPRODUCTOR BÁSICO -->
  <ion-item class="basicPlayer">

    <div class="currentPlayTime" *ngIf="selectedAudio">{{sliceRangeValues.lower | number: '1.1-1'}}</div>
    <div class="audioDuration" *ngIf="selectedAudio">{{sliceRangeValues.upper | number: '1.1-1'}}</div>

    <ion-range
      color="danger"
      pin="false"
      step="0.1"
      [debounce]="0"
      (touchstart)="rangeTouchStart()"
      (touchend)="rangeTouchEnd()"
      [min]="sliceRangeValues.lower"
      [max]="sliceRangeValues.upper"
      [(ngModel)]="rangePosition"
      [disabled]="!selectedAudio">
    </ion-range>

    <ion-button (click)="playPause()" [disabled]="!selectedAudio" slot="end">
      <ion-icon slot="icon-only" name="play" *ngIf="audioState === AE.paused || audioState === AE.stopped"></ion-icon>
      <ion-icon slot="icon-only" name="pause" *ngIf="audioState === AE.playing"></ion-icon>
    </ion-button>
  </ion-item>


  <!-- REPRODUCTOR AMPLIADO -->
  <ion-item class="extendedPlayer" *ngIf="showAdvancedPlayer">
    <ion-range
      dualKnobs="true"
      pin="true"
      step="0.1"
      color="secondary"
      min="0"
      [max]="audioDuration"
      [(ngModel)]="sliceRangeValues"
      [debounce]="0"
      (touchstart)="sliceTouchStart()"
      (touchend)="sliceTouchEnd()">
    </ion-range>
  </ion-item>

  <ion-item class="extendedPlayer" *ngIf="showAdvancedPlayer">
    <ion-button (click)="loopMode = !loopMode" [ngClass]="{'optionActive': loopMode}">
      <ion-icon name="infinite"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon name="rewind"></ion-icon>
    </ion-button>
    <div>0x</div>
    <ion-button>
      <ion-icon name="fastforward"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon name="volume-off"></ion-icon>
      <!-- <ion-icon name="volume-hight"></ion-icon> -->
    </ion-button>

    <ion-button (click)="showAdvancedPlayer = !showAdvancedPlayer">
      <ion-icon name="arrow-up" mode="ios"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>


<!-- DESPLEGAR REPRODUCTOR AMPLIADO -->
<ion-button
  class="desplegarBtn"
  (click)="showAdvancedPlayer = !showAdvancedPlayer"
  *ngIf="!showAdvancedPlayer"
  expand="full">
  <ion-icon name="arrow-down" mode="ios"></ion-icon>
</ion-button>

