<ion-header>
  <ion-toolbar>
    <ion-title>
      RICHAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar audio"></ion-searchbar>

  <ion-list>
    <ion-list-header>
      <ion-label>Etiqueta 1</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Hola amigo</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Etiqueta 2</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Pues dile</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Sin etiqueta</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Amigo que paso de ti</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-range color="danger" pin="true"></ion-range>


  </ion-list>
</ion-content>
