<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      RICHAR
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-item>
      <ion-searchbar placeholder="Buscar audio"></ion-searchbar>
    <ion-button (click)="reordenar = !reordenar">
      <ion-icon name="options"></ion-icon>
    </ion-button>
    <ion-button (click)="reordenar = !reordenar">
      <ion-icon name="reorder"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderConfigurationsList($event)" [disabled]="reordenar">
      <ion-item-sliding *ngFor="let audio of audios_db">

        <ion-item-options side="end">
          <ion-item-option color="secondary" expandable>
            <ion-icon slot="icon-only" name="pricetag"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary" expandable>
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item (click)="sendAudioToPlayer(audio.fileName)">
          <ion-label>
            <p>{{audio.title}}</p>
          </ion-label>

          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-item-sliding>

    </ion-reorder-group>
  </ion-list>


</ion-content>


<!-- REPRODUCTOR -->
<ion-footer>

  <app-audio-player #reproductor>

  </app-audio-player>

  <!-- <ion-item>
    <ion-range
      color="danger"
      pin="true"
      step="0.1"
      [debounce]="0"
      (ionChange)="rangeHasChanged($event)"
      (touchstart)="rangeTouchStart()"
      (touchend)="rangeTouchEnd($event)"
      [max]="audioDuration"
      [(ngModel)]="rangePosition">
    </ion-range>

    <ion-button (click)="playPause()" [disabled]="!selectedAudio">
      <ion-icon slot="icon-only" name="play" *ngIf="audioState === AE.paused || audioState === AE.stopped"></ion-icon>
      <ion-icon slot="icon-only" name="pause" *ngIf="audioState === AE.playing"></ion-icon>
    </ion-button>
  </ion-item> -->

</ion-footer>