
.buscador {
  padding-right: 2rem;  
}

.opciones {
  .mainFabButton {
    margin-right: 0;
    margin-top: 0;
  }

  ion-fab-list {
    margin-top: 2.75rem;
  }
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
